<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="container">
			<div class="banner_content text-center">
				<h2>Giỏ hàng mua sắm</h2>
				<div class="page_link">
					<a href="/index">Trang chủ</a>
					<a href="/cart">Giỏ hàng</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Cart Area =================-->
<section class="cart_area">
	<div class="container">
		<div class="cart_inner">
			<div class="table-responsive">
				<table class="table">
					{{#if products}}
					<thead>
						<tr>
							<th scope="col">Sản phẩm</th>
							<th scope="col">Giá</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Tổng</th>
						</tr>
					</thead>
					<tbody>

						{{#each products }}
						<tr>
							<td>
								<div class="media">
									<div class="d-flex">
										<img class="cart-images" src="{{this.item.imagePath}}" alt="">
									</div>
									<div class="media-body">
										<p>{{this.item.title}}</p>
									</div>
								</div>
							</td>
							<td>
								<h5>{{this.item.price}} VND</h5>
							</td>
							<td>
								<div class="product_count">
									<input type="text" name="qty" id="sst" maxlength="12" value="{{this.quantity}}"
										title="Quantity:" class="input-text qty">

									<button onclick="window.location.href = 'cart/update/{{this.item._id}}?action=add';"
										class="increase items-count" type="button">
										<i class="lnr lnr-chevron-up"></i>
									</button>

									<button
										onclick="window.location.href = 'cart/update/{{this.item._id}}?action=remove';"
										class="reduced items-count" type="button">
										<i class="lnr lnr-chevron-down"></i>
									</button>

								</div>
								<button onclick="window.location.href = 'cart/update/{{this.item._id}}?action=clear';"
									type="button" class="btn btn-danger">X</button>
							</td>
							<td>
								<h5>{{this.price}} VND</h5>
							</td>
						</tr>
						{{/each}}

						<tr class="bottom_button">
							<td>
								<a class="gray_btn" href="/category">Mua Thêm</a>
							</td>
							<td>

							</td>
							<td>

							</td>
							<td>
								<div class="cupon_text">
									<input type="text" placeholder="Mã giảm giá">
									<a class="main_btn" href="#">Áp dụng</a>
								</div>
							</td>
						</tr>
						<tr>
							<td>

							</td>
							<td>

							</td>
							<td>
								<h5>Tổng chi phí</h5>
							</td>
							<td>
								<h5>{{totalPrice}} VND</h5>
							</td>
						</tr>
						
						<tr class="out_button_area">
							<td>

							</td>
							<td>

							</td>
							<td>

							</td>
							<td>
								<div class="checkout_btn_inner">
									<a class="gray_btn" href="/">Tiếp tục mua sắm</a>
									<a class="main_btn" href="/checkout">Tiến hành đặt hàng</a>
								</div>
							</td>
						</tr>

						{{else}}
						<div class="row">
							<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
								<h2>No Items in Cart</h2>
							</div>
						</div>
					</tbody>
					{{/if}}
				</table>
			</div>
		</div>
	</div>
</section>
<!--================End Cart Area =================-->