<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>Thanh toán sản phẩm</h2>
				<div class="page_link">
					<a href="/index">Trang chủ</a>
					<a href="/checkout">Thanh toán</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
	<div class="container">

		<div class="billing_details">
			<div class="row">
				<div class="col-lg-7">
					<h3>Thông tin giao hàng và thanh toán</h3>
					<form class="row contact_form" action="/checkout/create-order" method="post" novalidate="novalidate" id="detail_delivery">
						<div class="col-md-12 form-group">
							<input placeholder= "Họ tên*" type="text" class="form-control" id="name" name="name" required = "true">
						</div>

						<div class="col-md-6 form-group">
							<input placeholder = "Số điện thoại*" type="text" class="form-control" id="telephone" name="telephone">
						</div>
						<div class="col-md-6 form-group">
							<input placeholder="Địa chỉ email*" type="text" class="form-control" id="email" name="email">						
						</div>
						<div class="col-md-12 form-group">
							<input type="text" placeholder="Địa chỉ*" class="form-control" id="address" name="address">
						</div>
						<div class="col-md-12 form-group">
							<input placeholder="Quận/Huyện*" type="text" class="form-control" id="province" name="province">
						</div>
						<div class="col-md-12 form-group p_star">
							<select name = "district" class="country_select" form="detail_delivery">
								<option value="Hồ Chí Minh">Hồ Chí Minh</option>
								<option value="Hà Nội">Hà Nội</option>
								<option value="Đà Nẵng">Đà Nẵng</option>
								<option value="Bình Dương">Bình Dương</option>
								<option value="Đồng Nai">Đồng Nai</option>
								<option value="Khánh Hòa">Khánh Hòa</option>
								<option value="Hải Phòng">Hải Phòng</option>
								<option value="Long An">Long An</option>	
								<option value="Quảng Nam">Quảng Nam</option>
								<option value="Bà Rịa Vũng Tàu">Bà Rịa Vũng Tàu</option>
								<option value="Đắk Lắk">Đắk Lắk</option>
								<option value="Cần Thơ">Cần Thơ</option>
								<option value="Bình Thuận  ">Bình Thuận </option>
								<option value="Lâm Đồng">Lâm Đồng</option>
								<option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
								<option value="Kiên Giang">Kiên Giang</option>
								<option value="Bắc Ninh">Bắc Ninh</option>
								<option value="Quảng Ninh">Quảng Ninh</option>
								<option value="Thanh Hóa">Thanh Hóa</option>
								<option value="Nghệ An">Nghệ An</option>
								<option value="Hải Dương">Hải Dương</option>
								<option value="Gia Lai">Gia Lai</option>
								<option value="Bình Phước">Bình Phước</option>
								<option value="Hưng Yên">Hưng Yên</option>
								<option value="Bình Định">Bình Định</option>
								<option value="Tiền Giang">Tiền Giang</option>
								<option value="Thái Bình">Thái Bình</option>
								<option value="Bắc Giang">Bắc Giang</option>
								<option value="Hòa Bình">Hòa Bình</option>
								<option value="An Giang">An Giang</option>
								<option value="Vĩnh Phúc">Vĩnh Phúc</option>
								<option value="Tây Ninh">Tây Ninh</option>
								<option value="Thái Nguyên">Thái Nguyên</option>
								<option value="Lào Cai">Lào Cai</option>
								<option value="Nam Định">Nam Định</option>
								<option value="Quảng Ngãi">Quảng Ngãi</option>
								<option value="Bến Tre">Bến Tre</option>
								<option value="Đắk Nông">Đắk Nông</option>
								<option value="Cà Mau">Cà Mau</option>
								<option value="Vĩnh Long">Vĩnh Long</option>
								<option value="Ninh Bình">Ninh Bình</option>
								<option value="Phú Thọ">Phú Thọ</option>
								<option value="Ninh Thuận">Ninh Thuận</option>
								<option value="Phú Yên">Phú Yên</option>
								<option value="Hà Nam">Hà Nam</option>
								<option value="Hà Tĩnh">Hà Tĩnh</option>
								<option value="Đồng Tháp">Đồng Tháp</option>
								<option value="Sóc Trăng">Sóc Trăng</option>
								<option value="Kon Tum">Kon Tum</option>
								<option value="Quảng Bình">Quảng Bình</option>
								<option value="Quảng Trị">Quảng Trị</option>
								<option value="Trà Vinh">Trà Vinh</option>
								<option value="Hậu Giang">Hậu Giang</option>
								<option value="Sơn La">Sơn La</option>
								<option value="Bạc Liêu">Bạc Liêu</option>
								<option value="Yên Bái">Yên Bái</option>
								<option value="Tuyên Quang">Tuyên Quang</option>
								<option value="Điện Biên">Điện Biên</option>
								<option value="Lai Châu">Lai Châu</option>
								<option value="Lạng Sơn">Lạng Sơn</option>
								<option value="Hà Giang">Hà Giang</option>
								<option value="Bắc Kạn">Bắc Kạn</option>
								<option value="Cao Bằng">Cao Bằng</option>
							</select>
						</div>

						<div class="col-md-12 form-group">
							<div class="creat_account">
								<h3>Chi tiết vận chuyển</h3>
							</div>
							<textarea class="form-control" name="message" id="message" rows="1"
								placeholder="Ghi chú thêm"></textarea>
						</div>
					</form>
				</div>
				<div class="col-lg-5">
					<div class="order_box">
						<h2>Đơn hàng của bạn</h2>
						<ul class="list">
							<li>
								<div class="row">
								<p class="col-sm-7">Sản phẩm</p>
								<p class="col-sm-3">Số lượng</p>
								<p class="col-sm-2">Tổng</p>
								</div>
							</li>
							{{#each products }}
							<li>
								<div class="row">
								<a class="col-sm-7" href="#">{{this.item.title}}</a>
								<a class="col-sm-2">x {{this.quantity}}</a>
								<a class="col-sm-3">{{this.price}} VND</a>
								</div>
							</li>
							{{/each}}
							
						</ul>
						<ul class="list list_2">
							
							<li>
								<a href="#">Tổng đơn hàng
									<span>${{totalPrice}} VND</span>
								</a>
							</li>
						</ul>
						
						<button type="submit" class="main_btn" form="detail_delivery">Tiến hành thanh toán</button>
						{{#if hasErrors}}
            				<div class="alert alert-danger login_form">
                				{{#each messages }}
                    				<p>{{this.msg}}</p>
               					{{/each}}
            				</div>
       					{{/if}}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Checkout Area =================-->