
	<!--================Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<h2>{{title}}</h2>
					<div class="page_link">
						<a href="/index">Trang chủ</a>
						<a href="/confirmation">{{title}}</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Order Details Area =================-->
	<section class="order_details p_120">
		<div class="container">
			{{#if hasSuccess}}
				<h3 class="title_confirmation">Cảm ơn. Đơn hàng của bạn đã được nhận</h3>
			{{/if}}
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Thông tin đơn hàng</h4>
						<ul class="list">
							<li>
								<a href="#">
									<span>Mã số đơn hàng</span> : {{order._id}}</a>
							</li>
							<li>
								<a href="#">
									<span>Khởi tạo lúc</span> : {{order.createOn}} </a>
							</li>
							<li>
								<a href="#">
									<span>Tổng</span> : {{order.totalPrice}} VND</a>
							</li>
							<li>
								<a href="#">
									<span>Thanh toán</span> : Tiền mặt</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Thông tin liên lạc</h4>
						<ul class="list">
							<li>
								<a href="#">
									<span>Tên</span> : {{order.name}}</a>
							</li>
							<li>
								<a href="#">
									<span>Số  điện thoại</span> : {{order.telephone}}</a>
							</li>
							<li>
								<a href="#">
									<span>Địa chỉ email</span> : {{order.email}}</a>
							</li>
							<li>
								<a href="#">
									<span>Quốc tịch </span> : Việt Nam</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Địa chỉ giao hàng</h4>
						<ul class="list">
							<li>
								<a href="#">
									<span>Địa chỉ</span> : {{order.address}}</a>
							</li>
							<li>
								<a href="#">
									<span>Quận/Huyện</span> : {{order.district}}</a>
							</li>
							<li>
								<a href="#">
									<span>Thành phố</span> : {{order.province}}</a>
							</li>
							<li>
								<a href="#">
									<span>Quốc gia </span> : Việt Nam</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Chi tiết đơn hàng</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Sản phẩm</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Tổng</th>
							</tr>
						</thead>
						<tbody>
							{{#each order.items}}
							<tr>
								<td>
									<a href = "/single-product/{{this._id}}">{{this.title}}</a>
								</td>
								<td>
									<h5>x {{this.quantity}}</h5>
								</td>
								<td>
									<p>{{this.price}} VND</p>
								</td>
							</tr>
							{{/each}}
							<tr>
								<td>
									<h4>Tổng chi phí</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<h4 class="text-danger" style="font-size:20px">{{order.totalPrice}} VND</h4>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	