<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="banner_content text-center">
				<h2>Cập nhật thông tin cá nhân</h2>
				<div class="page_link">
					<a href="/index">Trang chủ</a>
					<a href="/checkout">Cập nhật thông tin cá nhân</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->
<script>
	function checkEmail(){
        let content = document.getElementById('email2').value;
		let res = document.getElementById("alert-email");
		console.log(content);

		let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        
		if (re.test(content))
		{
			res.style.display = "none";
			document.getElementById("submitbtn-info").disabled = false;
			return (true);
		}else{
			res.style.display = "block";
			res.innerHTML = "Email không hợp lệ";
			document.getElementById("submitbtn-info").disabled = true;
			return (false);
		}
    }

	function checkPasswordMatch(){
		let pw1 = document.getElementById("newpassword1").value;
		let pw2 = document.getElementById("newpassword2").value;
		let res = document.getElementById("alert-password");
		console.log(pw1);

		if(pw1 == pw2){
			res.style.display = "none";
			
			document.getElementById("submitbtn-password").disabled = false;
		}else{
			res.style.display = "block";
			res.innerHTML = "Mật khẩu không khớp";
			document.getElementById("submitbtn-password").disabled = true;
			return (false);
		}

		
	}

	
	function checkCanPost() {
		let pw = document.getElementById("oldpassword");
		let res = document.getElementById("alert-password");
		if(pw.value.length > 6){
			res.style.display = "none";
			console.log("123123");
			document.getElementById("submitbtn-password").disabled = false;
		}else{
			res.style.display = "block";
			res.innerHTML = "Mật khẩu không hợp lệ";
			document.getElementById("submitbtn-password").disabled = true;
		}
	}


</script>
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
	<div class="container">
		<div class="returning_customer">
			<div class="row col-lg-12 profile-css">
				<div class="col-lg-7 profile-form">
					<h3>Thay đổi thông tin</h3>
					<br>
					{{#if hasErrorsProfile}}
            				<div class="alert alert-danger login_form">
                				{{#each errorMessagesProfile }}
                    				<p>{{this}}</p>
               					{{/each}}
            				</div>
						{{else}}
							{{#if hasSuccessProfile}}
							<div class="alert alert-success login_form">
								{{#each successMessagesProfile }}
                    				<p>{{this}}</p>
               					{{/each}}		
                    				
            				</div>
							{{/if}}
       				{{/if}}
					<form action="profile/info" method="post" novalidate="novalidate">
						<div class="form-group profile-form">
							<label for="name">Họ tên</label>
							<input type="text" class="form-control" name="name2" 
								aria-describedby="emailHelp" value="{{user.name}}">
						</div>

						<div class="form-group profile-form">
							<label for="email">Địa chỉ email</label>
							<input type="email" class="form-control" name="email2" onblur="checkEmail()" id="email2"
								aria-describedby="emailHelp" value="{{user.email}}">
						</div>
						<div class="form-group">
							<label for="address">Địa chỉ</label>
							<input type="text" class="form-control" name="address2"
								value="{{user.address}}">
						</div>
						<div style ="color: red; margin-bottom: 20px">
							<span id="alert-email"></span>
						</div>
						<button type="submit" id="submitbtn-info" class="btn btn-primary">Cập nhật thông tin</button>
					</form>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="row col-lg-12 profile-css">
				<div class="col-lg-7 profile-form">
					<h3>Thay đổi mật khẩu</h3>
					<br>
					{{#if hasErrorPassword}}
            				<div class="alert alert-danger login_form">
                				{{#each errorMessagesPassword }}
                    				<p>{{this}}</p>
               					{{/each}}
            				</div>
						{{else}}
							{{#if hasSuccessPassword}}
							<div class="alert alert-success login_form">
								{{#each successMessagesPassword }}
                    				<p>{{this}}</p>
               					{{/each}}		
                    				
            				</div>
							{{/if}}
       				{{/if}}
					<form action="profile/password" method="post" novalidate="novalidate">
						<div class="form-group profile-form">
							<label for="opw">Mật khẩu cũ</label>
							<input type="password" class="form-control" id="oldpassword" name="oldpassword" onkeyup="checkCanPost()"
								aria-describedby="emailHelp" placeholder="Mật khẩu cũ">
						</div>
						<div class="form-group">
							<label for="npw">Mật khẩu mới</label>
							<input type="password" class="form-control" id="newpassword1" name="newpassword1" onkeyup="checkPasswordMatch()"
								placeholder="Mật khẩu mới">
						</div>
						<div class="form-group">
							<label for="cfpw">Nhập lại khẩu mới</label>
							<input type="password" class="form-control" id="newpassword2" name="newpassword2" onkeyup="checkPasswordMatch()"
								placeholder="Nhập lại khẩu mới">
						</div>
						<div style ="color: red; margin-bottom: 20px">
							<span id="alert-password"></span>
						</div>
						<button type="submit" id="submitbtn-password" disabled = "disabled" class="btn btn-primary btn-comfirm-profile">Thay đổi mật khẩu</button>
					</form>
				</div>
			</div>
	</div>
	</div>
</section>
<!--================End Checkout Area =================-->