<!--================Home Banner Area =================-->
<div class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Thông tin lịch sử quá trình và trạng thái mua hàng</h2>
                <div class="page_link">
                    <a href="/index">Trang chủ</a>
                    <a href="/tracking">Theo dõi đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area p_120">
        <div class="container">
            {{#if orders}}
            {{#each orders}}
            <div class="card">
                <div class="card-header">
                    Mã đơn hàng: {{this._id}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="card-text">Tên người đặt: {{this.name}}</p>
                            <p class="card-text">Số điện thoại: {{this.totalQuantity}}</p>
                            <p class="card-text">Địa chỉ: {{this.totalPrice}}</p>
                        </div>
                        <div class="col-sm-5">
                            <p class="card-text ">Ngày tạo: {{this.createOn}}</p>
                            <p class="card-text">Số lượng: {{this.totalQuantity}}</p>
                            <p class="card-text text-danger">Tổng chi phí: {{this.totalPrice}}</p>
                        </div>
                        <div class="col-sm-2">
                            <a href="/tracking/detail-order/{{this._id}}" class="btn btn-primary">Xem chi tiết</a>
                            <p class="card-text"></p>
                            {{#ifCond this.status '==' '2'}}
                            <button class="btn btn-success">Đã giao</button>
                            {{/ifCond}}
                            {{#ifCond this.status '==' '0'}}
                            <button class="btn btn-danger">Đã hủy</button>
                            {{/ifCond}}
                           {{#ifCond this.status '==' '1'}}
                            <button class="btn btn-warning">Đang giao</button>
                            {{/ifCond}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
            <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
            {{/each}}
            {{else}}
            <div class="row">
                <div class="col-md-6 offset-md-4">
                    <h2>Không có đơn hàng nào</h2>
                </div>
            </div>
            {{/if}}

        </div>
    </section>
    <!--================End Tracking Box Area =================-->